@import "mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Iosevka, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* window#waybar { */
/*   background-color: @base; */
/*   color: @base; */
/*   transition-property: background-color; */
/*   transition-duration: 0.5s; */
/* } */


#waybar {
  background: @base;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}


window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.kitty {
  background-color: #232a2d;
}

/* #workspaces button { */
/*   margin: 5px 5px; */
/*   background: @base; */
/*   color: @base; */
/*   border-radius: 15px; */
/* } */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* #workspaces button:hover { */
/*   background: #b3b8b8; */
/* } */
/**/
/* #workspaces button.focused { */
/*   background: #e57474; */
/* } */
/**/
/* #workspaces button.urgent { */
/*   background-color: #eb4d4b; */
/* } */

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #67b0e8;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  /* margin: 5px 5px; */
  /* padding: 5px 5px; */
  border-radius: 1rem;
  color: @blue;
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  /* color: @blue; */
  /* background-color: #c47fd5; */
}

/* #window, */
/* #workspaces { */
/*   margin: 0 4px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}


/* #battery { */
/*   background-color: #c47fd5; */
/* } */
#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: @blue;
}

#memory {
  background-color: @surface0;
  color: @blue;
}

#disk {
  background-color: #964b00;
}

#backlight {
  color: @yellow;
}

#network {
  /* background-color: #8ccf7e; */
  color: @blue;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  /* background-color: #e5c76b; */
  color: @blue;
}

#pulseaudio.muted {
  color: @red;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  color: @blue;
}

#temperature.critical {
  color: @red;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
